.filter {
  display: flex;
  flex-direction: column;
  padding: 0 17px 16px;
  background-color: #f8f8f8;
}

.filter__group {
  border: none;
  margin: 0;
  margin-top: 19px;
  padding: 0 3px;

  &--country {
    margin-top: 34px;
    margin-bottom: 31px;
  }
}

.filter__title {
  .font-style(600, 16px, 24px);
  margin-bottom: 17px;
}

.filter__range {
  margin-bottom: 24px;
}

.filter__range-wrapper-input {
  display: flex;
  gap: 44px;
  padding: 1px 3px;
  margin-bottom: 11px;
}

.filter__label--min-price {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -26px;
    top: 20px;
    width: 7px;
    border: 1px solid #bdbdbd;
  }
}

.filter__range-input {
  .font-style(500, 16px, 24px);
  text-align: center;
  box-sizing: border-box;
  border: 2px solid @form-color;
  border-radius: 4px;
  width: 118px;
  height: 40px;

  &::placeholder {
    color: #bdbdbd;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: @base-dark-color;
  }
}

.filter__list {
  .nav-list;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: @mobile-width-only) {
  .filter {
    max-width: 300px;
    margin: 0 auto;
  }

  .filter__button {
    margin-left: 6px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width-but) {
  .filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 24px;
    padding: 1px 17px 24px;
  }

  .filter__group--country {
    margin-top: 19px;
    margin-bottom: 0;
  }

  .filter__button-wrapper {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: center;
  }

  .filter__title {
    padding: 0;
  }

  .filter__range {
    margin-bottom: 20px;
  }

  .filter__range-wrapper-input {
    gap: 47px;
    padding: 1px 0;
  }

  .filter__range-input {
    width: 88px;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    padding: 39px 0 0;
    grid-template-columns: 318px;
    grid-row: 3 / 4;
    gap: 19px;
  }

  .filter__group {
    margin-top: 0;
    padding: 0;

    &--country {
      margin-top: 13px;
      margin-bottom: 22px;
    }
  }

  .filter__title {
    margin-bottom: 18px;
    letter-spacing: -0.15px;
    padding: 0;
  }

  .filter__range {
    margin-bottom: 22px;
  }

  .filter__range-input {
    width: 134px;
  }

  .filter__range-wrapper-input {
    gap: 50px;
    padding: 1px 0;
  }

  .filter__label--min-price::after {
    right: -29px;
    top: 19px;
  }

  .filter__button-wrapper {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: left;
  }

  .filter__button {
    min-width: 149px;
  }
}
