.form {
  padding: 50px 20px 16px;
  background-color: #f8f8f8;
}

.form__subtitle {
  .font-style-subtitle;
}

.form__title{
  .font-style-title;
  text-align: center;
  margin: 0px;
  margin-bottom: 3px;
}

@media (min-width: @tablet-width) {
  .form {
    padding: 80px 20px 24px;
  }

  .form__title {
    .font-style-title(700; 42px; 64px);
  }
}
