.media {
  padding: 20px;
  border-bottom: 1px solid #f0ebff;
}

.media__title {
  .font-style-title(700, 14px, 20px, @base-color);
  letter-spacing: 0.28px;
  margin: 0;
  margin-bottom: 12px;
}

.media__list {
  display: flex;
  flex-direction: column;
  .nav-list;
  gap: 4px;
}

.media__item {
  padding: 6px 0;
}

.media__link {
  .menu-link;
  letter-spacing: 0.24px;
}
