.pagination {
  .nav-list;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.pagination__link {
  box-sizing: border-box;
  color: @base-color;
  text-decoration: none;
  display: block;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  .font-style(400; 16px; 24px; @base-color);
  padding: 8px;

  &--current {
    background-color: inherit;
    .font-style(600; 16px; 24px);
  }

  &:hover,
  &:focus {
    background-color: @form-color;
    color: #ffffff;
  }

  &:active {
    background-color: @base-dark-color;
    color: #ffffff;
  }

  &:disabled {
    background-color: #e2e2e2;
    color: #ffffff;
  }
}

.pagination__icon {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .pagination {
    max-width: 280px;
  }

  .pagination__link {
    position: relative;
  }

  .pagination__icon {
    display: block;
    fill: @base-color;
    position: absolute;
    top: 14px;
    left: 17px;
  }

  .pagination__link&:hover .pagination__icon,
  .pagination__link&:focus .pagination__icon,
  .pagination__link&:active .pagination__icon,
  .pagination__link&:disabled .pagination__icon {
    fill: #ffffff;
  }

  .pagination__link-text {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .pagination {
    justify-content: flex-end;
  }

  .pagination__link {
    &--prev,
    &--next {
      padding: 8px 20px;
    }
  }
}
