.slider {
  position: relative;
}

.slider__item {
  min-height: 656px;

  &--flat-white {
    background-color: #f3ebe1;
  }

  &--lavander {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.slider__image {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.slider__feature {
  .font-style-subtitle;
}

.slider__title {
  .font-style-title(700, 36px, 48px);
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.72px;
  padding: 0 20px;
}

.slider__description {
  .font-style;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.slider__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider__price {
  .font-style-title(600, 20px, 32px);
  margin: 0;
}

.slider__price--old {
  .font-style(400, 16px, 32px, @base-color);
  margin-right: 6px;
  text-decoration: line-through;
}

.slider__button {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0;
  height: 714px;
  width: 80px;

  &--left {
    left: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
    }
  }

  &--right {
    right: 0;

    &:hover,
    &:focus {
      background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
    }
  }
}

.slider__button-icon {
  position: absolute;
  top: 318px;
  left: 5px;
}

@media (max-width: @mobile-width-only) {
  .slider__button {
    width: 20px;
  }
}

@media (min-width: @tablet-width) {
  .slider__item {
    display: grid;
    grid-template-rows: auto auto auto auto 476px;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .slider__image-wrapper {
    grid-row: -2 / -1;
  }

  .slider__image {
    width: 476px;
    height: 476px;
  }

  .slider__title {
    .font-style-title(700, 56px, 80px);
    letter-spacing: 1.12px;
    margin-bottom: 16px;
  }

  .slider__description {
    .font-style(400, 20px, 32px);
    padding: 0 80px;
  }

  .slider__button {
    height: 640px;
  }

  .slider__button-icon {
    top: 310px;
    left: 35px;
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width-but) {
  .slider__item {

    &--flat-white {
      background: linear-gradient(to top,#ffffff 188px, #f3ebe1 188px);
    }

    &--lavander {
      background: linear-gradient(to top,#ffffff 188px, #eae6fc 188px);
    }

    &--espresso {
      background: linear-gradient(to top,#ffffff 188px, #e5e6e8 188px);
    }
  }
}

@media (min-width: @desktop-width) {
  .slider__image {
    width: 600px;
    height: 600px;
    margin: 0;
    padding-left: 25px;
  }

  .slider__item {
    grid-template-columns: 625px auto;
    grid-template-rows: repeat(6, auto);
    padding: 30px 80px 84px;
    column-gap: 30px;
    box-sizing: border-box;
  }

  .slider__image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .slider__feature {
    margin-top: 150px;
    text-align: left;
  }

  .slider__title {
    padding: 0;
    text-align: left;
    margin-bottom: 16px;
  }

  .slider__description {
    text-align: left;
    padding: 0;
    margin-bottom: 40px;
  }

  .slider__item-wrapper {
    justify-content: start;
  }

  .slider__button {
    top: 37px;
  }
}

@media (max-width: @desktop-width-but) {
  .swiper-pagination {
    display: none;
  }
}

//Стилизация библиотеки слайдера
.swiper-pagination {
  bottom: 65px;
  left: 4px;
}

// Стилизация полосок
.progress-bar {
  width: 62px;
  height: 4px;
  margin-right: 8px;
 // transform: rotate(90deg);
  display: inline-block;
}

.progress-bar-active {
  background-color: @base-color;
}

.progress-bar-inactive {
  background-color: #ffffff;
}
