.slider {
  position: relative;
}

.slider__item {
  min-height: 656px;

  &--flat-white {
    background-color: #f3ebe1;
  }

  &--lavander {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }
}

.slider__image {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.slider__feature {
  .font-style-subtitle;
}

.slider__title {
  .font-style-title(700, 36px, 48px);
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.72px;
  padding: 0 20px;
}

.slider__description {
  .font-style;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.slider__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slider__price {
  .font-style-title(600, 20px, 32px);
  margin: 0;
}

.slider__price--old {
  .font-style(400, 16px, 32px, @base-color);
  margin-right: 6px;
  text-decoration: line-through;
}

.slider__button {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0;
  height: 714px;
  width: 80px;

  &--left {
    left: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
    }
  }

  &--right {
    right: 0;

    &:hover,
    &:focus {
      background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
    }
  }
}

.slider__button-icon {
  position: absolute;
  top: 318px;
  left: 5px;
}

@media (max-width: @mobile-width-only) {
  .slider__button {
    width: 20px;
  }
}
