.user-list {
  .nav-list;
  display: flex;
}

.user-list__login,
.user-list__basket {
  padding: 22px;
}

@media (max-width: @desktop-width-but) {
  .user-list {
    margin-right: 60px;
  }

  .user-list__link {
    line-height: 0;
    display: block;
  }

  .user-list__login-legend {
    .visually-hidden;
  }
  .user-list__basket-legend {
    .visually-hidden;
  }
}

@media (min-width: @tablet-width)  {
  .user-list {
    margin-right: 20px;
  }

  .user-list__login,
  .user-list__basket {
    padding: 29px 22px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    margin-right: 40px;
    gap: 17px;
  }

  .user-list__link {
    .menu-link;
    position: relative;
    padding-left: 24px;
  }

  .user-list__login-icon,
  .user-list__basket-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

}
